/* GENERAL CLASSES */

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-family: Barlow;
}
h2 {
  font-family: BarlowIt;
}
h3 {
  font-family: BarlowIt;
  line-height: 2.5;
}
p {
  line-height: 1.4;
}
article {
  font-family: BarlowText;
  font-size: large
}
::-webkit-scrollbar {
  width: 1.5vh;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3vh;
}
::-webkit-scrollbar-button {
  height: 3vh;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* CUSTOM CLASSES */

.Body {
  height: 200vh;
  width: 100vw;
  background-color: aliceblue;
}
.Header {
  height: 15vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  color: #BCFBDA;
  position: absolute;
  text-align: center;
  font-family: Barlow;
  font-size: 2vmin;
  color: white;
}
#Carousel {
  height: 85vh;
  width: 100vw;
  background-image: linear-gradient(#8df5f8, white);
  overflow: hidden;
  scroll-behavior: smooth;
}
#Carousel > button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
  padding: 0;
  height: 10vh;
  width: 10vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border: 0;
  color: white;
  font-size: 5vmin;
}
.Scrolled {
  width: 300vw;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.Scrolled > div {
  width: 100vw;
  height: 100%;
  float: left;
}
.Scrolled > div > div {
  width: 60%;
  height: 85vh;
  padding: 0px 20px;
  margin: 0% 20%;
  background-image: linear-gradient(rgba(231, 231, 231, 0.8), rgba(255, 255, 255, 0.5) 10%);
  border-radius: 3vh;
  overflow-y: auto;
}
#Navbar {
  height: 30vh;
  width: 100vw;
  background-image: linear-gradient(#00b5b8 80%, #8df5f8);
}
#Navbar > button {
  height: 50%;
  width: 33.333%;
  background-image: linear-gradient(#00b5b8, #8df5f8);
  color: white;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  transition: margin-top 1s;
  font-family: Barlow;
  font-size: 2vmin;
}
#Navbar > button:hover > #Indicator {
  flex-basis: 10vh;
  transition: all 0.5s;
}
#Navbar > button > div {
  width: 100%;
  display: flex;
  justify-content: center;
  transform-origin: 50% 0%;
}
#Indicator {
  flex-basis: 3vh;
  background-color: #00000054;
  animation: ActiveBtn 0.2s;
  transition: all 0.2s;
}
.Bottombody {
  height: 85vh;
  width: 100vw;
  background-color: #8df5f8;
}

/* ANIMATIONS */

@keyframes ActiveBtn {
  from {transform: scaleY(0);}
  to {transform: scaleY(1.0);}
}

/* FONTS */

@font-face {
  font-family: BarlowIt;
  src: url('../fonts/Barlow-ThinItalic.ttf');
}
@font-face {
  font-family: Barlow;
  src: url('../fonts/Barlow-SemiBold.ttf');
}
@font-face {
  font-family: BarlowText;
  src: url('../fonts/Barlow-Regular.ttf');
}